.footer {
    padding: 40px 0;
    background-color: black;
  }
  
  .footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: pink;
  }
  
  .footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid pink;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height:38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.65;
  }
  
  .footer .social a:hover {
    opacity: .9;
  }
  
  .footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 10px;
  line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
  }
  
  .footer ul li a{
    color: pink;
    text-decoration: none;
    opacity: .8;
  }
  
  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }
  
  .footer ul li a:hover {
    opacity: 1;
  } 

 
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
  }

  